@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Go to my <a asp-area="" asp-controller="ToDoTask" asp-action="index">tasks</a></p>
</div>
